th{
    color: blue;
}

td{
    color:rgb(255, 102, 0);
}

#clickable{
    border: 2px solid blue;
    width: 243px;
    height: 40px;
    line-height: 40px;
    border-radius: 70px;
    text-align: center;
    color:rgb(255, 102, 0);
    background-color: aquamarine;
/* */
    transition: all 0.5s linear;
}
